.menu-list-sec {
    float: left;
    width: 100%;
    background: #e3ecc2;
    padding-bottom: 108px;
    margin-top: -473px;
    padding-bottom: 108px;
    padding-top: 150px;
    position: relative;
}
.sub-heading {
    text-align: center;
    float: left;
    width: 100%;
}
.sub-heading h2 {
    padding-bottom: 70px;
    font-weight: 700;
    color: #7287ae;
    text-transform: uppercase;
    font-size: 47px;
}
.menu-details {
    background: #fff;
    padding: 15px;
    height: 150px;;
}
.see-more-menu {
    text-align: center;
   margin-top: 70px;
}
.see-more-menu a {
    display: inline-block;
    color: #fff;
    background: #7287ae;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
}
/* .menu-items {
    position: relative;
} */
.design-dot {
    position: absolute;
    right: 40px;
    bottom: 55px;
}