.bg-light {
    background: transparent !important;
}
.nav-link {
    color: #fff !important;
    font-size: 18px;
    font-weight: medium; 
}
.navbar-expand-lg .navbar-nav {
    margin-top: 10px;
}
.scrolled {
    position: fixed;
    float: left;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #486c9b;
}
.navbar-toggler {
    background: #fff;
}