.placeorder {
    float: left;
    width: 100%;
}
.order-left {
    padding-right: 0px;
    padding-left: 0px;
    background: url(../Asset/images/place_order.jpg) no-repeat;
    background-size: cover;
    height: 768px;
}
.order-left img {
    width: 100%;
}
.order-right {
    background: #fff;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 206px;
    padding-left: 5%;
    /* padding-left: 58px; */
}
.order-right h1 {
    /* width: 350px; */
    width: 63%;
    font-weight: 400;
    padding-bottom: 26px;
}
.order-right p {
    /* width: 546px; */
    width: 95%;
    font-size: 29px;
    font-family: 'Lato', sans-serif;
}